matplotlib
seaborn
numpy
pandas
tensorflow
scikit-learn
jupyter
requests
GoogleImageScraper
labelme
opencv-python
torch
torchvision
torchmetrics
image_bbox_slicer
paddlepaddle
paddleocr
jellyfish
pybktree
more-itertools
spacy
lemminflect
gdown